---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  isOpen?: boolean;
}

const { class: className, isOpen = false, ...attrs } = Astro.props;
---

<div
  {...attrs}
  data-collapsible
  data-open={isOpen}
  class={cn("w-full", className)}
>
  <slot />
</div>

<script>
  import { Collapsible } from "./collapsible";

  function init() {
    const collapsibles =
      document.querySelectorAll<HTMLElement>("[data-collapsible]");
    collapsibles.forEach((collapsible) => {
      new Collapsible(collapsible);
    });
  }

  init();
  document.addEventListener("astro:page-load", () => init());
</script>
