---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  value: string;
}

const { class: className, value } = Astro.props;
---

<button
  role="tab"
  aria-orientation="horizontal"
  data-selected="false"
  data-value={value}
  data-tab-trigger
  class={cn(
    "rounded-sm px-3 py-1.5 flex justify-center gap-1.5 items-center font-medium cursor-pointer outline-none [&_svg]:pointer-events-none [&_svg]:shrink-0 transition-colors duration-100 ease-in data-[selected=true]:bg-secondary",
    className,
  )}
>
  <slot />
</button>
