---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props;
---

<div class={cn("inline-flex flex-col gap-0.5", className)} {...attrs}>
  <slot />
</div>
