---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...attrs } = Astro.props;
---

<span class={cn("text-3xl font-bold text-foreground", className)} {...attrs}>
  <slot />
</span>
