---
import { cn } from "@/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  multiple?: boolean;
}

const { class: className, multiple = false, ...attrs } = Astro.props;
---

<div
  {...attrs}
  data-accordion
  data-multiple={multiple}
  class={cn("w-full", className)}
>
  <slot />
</div>

<script>
  import { Accordion } from "./accordion";

  function init() {
    const accordions =
      document.querySelectorAll<HTMLElement>("[data-accordion]");
    accordions.forEach((accordion) => {
      new Accordion(accordion);
    });
  }

  init();
  document.addEventListener("astro:page-load", () => init());
</script>
