---
import { BrandGitHubIcon } from "@/assets/icons";

import { Button } from "@/components/ui/button";
---

<div
  class="border-primary/5 flex items-center justify-center border-b backdrop-blur-sm"
>
  <div class="container px-4 py-8">
    <div class="flex items-center justify-between gap-4">
      <div>
        <a href="/">
          <img src="/orbitui.png" alt="orbitui logo" class="h-6" />
        </a>

        <p class="text-muted-foreground text-md mb-4 mt-2 max-w-[250px]">
          Accessible, Customizable, & Lightweight component library
        </p>

        <Button href="" variant="link" class="p-0 [&_svg]:size-5">
          <BrandGitHubIcon />
        </Button>
      </div>
    </div>

    <hr
      class="via-primary/30 my-8 h-px border-0 bg-gradient-to-l from-transparent to-transparent"
    />

    © 2025 OrbitUI.
  </div>
</div>
