---
import { BrandDiscordIcon, BrandGitHubIcon } from "@/assets/icons";
import { Button } from "@/components/ui/button";

const links = [
  {
    name: "Docs",
    href: "/getting-started/installation/",
  },
  {
    name: "Components",
    href: "/components/",
  },
];
---

<header
  class="border-foreground/5 bg-background/80 fixed left-0 top-0 z-50 flex w-full items-center justify-center border-b backdrop-blur-md"
>
  <div class="container flex items-center justify-between p-4">
    <div class="flex items-center justify-center gap-8">
      <a href="/">
        <img src="/orbitui.png" alt="orbitui logo" class="h-6" />
      </a>

      <nav class="hidden items-center gap-4 md:flex">
        {
          links.map((link) => (
            <Button variant="link" size="lg" class="p-0" href={link.href}>
              {link.name}
            </Button>
          ))
        }
      </nav>
    </div>

    <div class="flex items-center gap-2">
      <Button
        variant="link"
        class="p-0 [&_svg]:size-5"
        href="https://github.com/nsmichelj/orbitui"
        target="_blank"
      >
        <BrandGitHubIcon />
      </Button>
      <Button
        variant="link"
        class="p-0 [&_svg]:size-5"
        href="https://discord.gg/JZHt3dNeJm"
        target="_blank"
      >
        <BrandDiscordIcon />
      </Button>
    </div>
  </div>
</header>
