---
import { HeartHandshakeIcon, StartIcon } from "@/assets/icons";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<div class="my-32 px-4">
  <Card
    class="bg-primary/5 border-primary/10 mx-auto my-20 max-w-xl backdrop-blur-sm"
  >
    <CardHeader class="items-center text-center">
      <div class="text-center"><HeartHandshakeIcon class="size-16" /></div>
      <CardTitle>Show Your Support on GitHub</CardTitle>
      <CardDescription>
        If you like OrbitUI and want to support its development, consider giving
        it a star on GitHub!
      </CardDescription>
    </CardHeader>
    <CardContent>
      <div class="flex items-center justify-center">
        <Button variant="outline">
          <StartIcon />
          Star on GitHub
        </Button>
      </div>
    </CardContent>
  </Card>
</div>
